#core classical deep learning
torch>=2.0.0
torchvision>=0.15.0

#quantum frameworks
pennylane>=0.37.0
qiskit>=1.1.0,<2.0.0
qiskit-machine-learning>=0.8.0,<0.9.0

#data processing + math
numpy>=2.0.0
pandas>=2.0.0

#visualization/logging
matplotlib>=3.7.0
seaborn>=0.12.0
tqdm>=4.65.0
scikit-learn>=1.2.0